---
import {readFile, writeFile} from 'node:fs/promises'

const spFile = 'sponsors.json'

type Sponsor = {id: number, username: string}
type Data = {sponsors: Sponsor[], backers: Sponsor[], private: number}

let data: Data

try {
    data = JSON.parse(await readFile(spFile, 'utf-8'))
} catch (err: any) {
    if (err.code !== 'ENOENT') {
        throw err
    }
    const url = `https://raw.githubusercontent.com/wuchalejs/wuchale/refs/heads/main/scripts/sponsors.json`
    const res = await fetch(url)
    data = await res.json() as Data
    await writeFile(spFile, JSON.stringify(data, null, '  '))
}
---

<p>
    This project is supported by the community. Become a sponsor and get your name
    or logo listed on the README and here on the website!
</p>

<p>
    <a href="https://github.com/sponsors/K1DV5">
        <img alt="Sponsor on GitHub" src="https://img.shields.io/badge/Sponsor%20on-GitHub-%23ea4aaa?logo=github&logoColor=white" />
    </a>
</p>

<center>
<h5>Sponsors</h5>

<div class="sponsors">
    {data.sponsors.map(s => <a class="sponsor" href={'https://github.com/' + s.username}>
        <img src={`https://avatars.githubusercontent.com/u/${s.id}?v=4&s=96`} />
    </a>)}
</div>

<h5>Special thanks to our backers</h5>

<div class="sponsors">
    {data.backers.map(s => <a class="sponsor" href={'https://github.com/' + s.username}>
        <img src={`https://avatars.githubusercontent.com/u/${s.id}?v=4&s=48`} />
    </a>)}
</div>

<p>And one private donor 🙏</p>

</center>

<style>

.sponsors {
    display: flex;
    justify-content: center;
}

.sponsor {
    margin: .3em;
}

</style>
