---
import {getRuntime as _w_load_, getRuntimeRx as _w_load_rx_} from "../test-tmp/astro.loader.js"
import _w_Tx_ from "@wuchale/astro/runtime.js"
const _w_runtime_ = _w_load_('astro')
const { username } = Astro.props
---

<div>
    <p>{_w_runtime_(0)}</p>
    <p title={_w_runtime_(1)} class="para">
        {_w_Tx_({ x: _w_runtime_.c(2), a: [username] })}
    </p>
</div>
